body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 8rem !important;
    color: #000;
    font-weight: 900;
}


.mosaic-flex-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 15px; 
}

.mosaic-col {
    display: flex;
    flex-direction: column;
    flex: 1; 
    gap: 15px; 
}

/* .item {
    background-image: url("img/Cocktail Kitten.jpg");
    background-size: cover;
    background-position: center;
} */

.top-pair {
    display: flex;
    gap: 15px;
    align-items: flex-end; 
}

.item-1 { width: 50%; height: 120px; align-self: flex-end;}
.item-2 { width: 40%; height: 70px; margin-top: 50px;}

.item-3 { height: 350px; }
.item-4 { height: 200px; width: 85%;}

.item-5 { 
    height: 60px; 
    width: 40%; 
    align-self: flex-end; 
}

.item-6 { 
    height: 280px; 
    width: 70%;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .mosaic-flex-container {
        flex-direction: column;
    }
    .mosaic-spacer { display: none; }
    .item-6 { margin-top: 0; width: 100%; }
    .item-5 { width: 100%; }
    .item { height: 300px !important; width: 100% !important; }
}